VideoStore.WebClient/Connected Services/ReviewService/VideoStore.Services.MessageTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoStore.Services.MessageTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoStore.Services.MessageTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MessageType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rating" type="xs:int" />
          <xs:element minOccurs="0" name="ReviewDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ReviewDetails" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewerLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
</xs:schema>